.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 23px;
}
.box{
    width: 134px;
    height: 5px;
    border-radius: 29px;
    background: rgba(28, 28, 30, 1);
}

