
/*  #ifdef  h5  */
* {
  box-sizing: border-box;
}
body{
  width: 375px;
  background-color: #f4f7fa;
  margin: 0 auto;
}
ol,
ul {
  list-style: none;
}
video::-webkit-media-controls {
  display: none !important;
}

a {
  text-decoration: none;
}
.background{
  background-color: #f4f7fa;
}

/*  #endif  */

/*  #ifdef  weapp  */
view,image,text {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
page {
  width: 375px;
  background-color: #f4f7fa;
  margin:  auto;
}

/*  #endif  */
